$color-blue-primary:  #0079ff;
$color-gray-one: #666666;

@import './mixins';
@import './searchbar';
@import './recentPosts';
@import './results';




body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content:  center;
}

.home {
    @include default-page-layout();
} 

.logo-main,
.recent-posts 
{
    display: grid;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

