.recent-post {
    .recent-post__title a {
        color: $color-gray-one;
    }
    // .recent-post__topics {
        
    
}

.post__topic {
    color: lightgray;
    font-size:  14px;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;

}

.post-link {
    .post-link__box {

    }

    .post-link__link {

    }
}